@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="post">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <div class="row">
            <div class="col-3 offset-4">
                <label class="m-2">Email</label>
                <input type="text" class="form-control" asp-for="@Model.Email" />
                <p class="text-danger">@Model.Error</p>
            </div>
            <div class="col-3 m-3">
                <br />
                <button type="submit" class="btn btn-primary float-start">Login</button>
            </div>
        </div>

        <div class="row">
            <div class="col-3 offset-4">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Members)
                        {
                            <tr>
                                <td>@item.MemberId</td>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
        </div>
    </div>
</form>
