@page
@model ChatSystem.Pages.InvitationModel
@{
}



<h2>Invitations</h2>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Sender</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Invitations)
        {
            <tr>
                <td>@member.InvitationId</td>
                <td>@member.Sender.Name</td>
                <td>@member.Sender.Email</td>
                <td>
                    <form method="post" asp-page-handler="Invite" asp-route-invitationId="@member.InvitationId">
                        <button type="submit" class="btn btn-primary btn-sm">Invite</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<h2>Invitation Approved</h2>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Sender</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Invitations)
        {
            <tr>
                <td>@member.InvitationId</td>
                <td>@member.Sender.Name</td>
                <td>@member.Sender.Email</td>
                <td>
                    <a asp-page="/Chat" asp-route-id="@member.SenderId">Chat</a>
                   
                </td>
            </tr>
        }
    </tbody>
</table>


