@page
@model ChatSystem.Pages.MembersModel
@{
}


<h1>Welcome @Model.Member?.Name</h1>

@if(!string.IsNullOrEmpty(Model.Error))
{
    <div class="alert alert-danger">@Model.Error</div>
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Members)
        {
            <tr>
                <td>@member.MemberId</td>
                <td>@member.Name</td>
                <td>@member.Email</td>
                <td>
                    @if (Model.HasInvitationSender(member.MemberId) || Model.HasInvitationReceiver(member.MemberId))
                    {
                       
                        var invitationStatus = Model.GetInvitationStatus(member.MemberId);
                        if (invitationStatus == 1)
                        {
                            if (Model.GetInvitationSenderStatus(member.MemberId))
                            {
                                <form method="post" asp-page-handler="Status" asp-route-memberId="@member.MemberId" asp-route-statusId="2">
                                    <button type="submit" class="btn btn-info btn-sm">Accept</button>
                                </form>
                                <form method="post" asp-page-handler="Status" asp-route-memberId="@member.MemberId" asp-route-statusId="3">
                                    <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                                </form>
                            }
                            else
                            {
                                <butxton class="btn btn-secondary btn-sm disabled">Pending</butxton>
                            }
                        }
                        else if (invitationStatus == 2)
                        {
                            <a asp-page="/Chat" class="btn btn-warning btn-sm" asp-route-id="@member.MemberId">Chat</a>
                        }
                        else
                        {
                            @* Rejected Code *@
                            <butxton class="btn btn-secondary btn-sm disabled">Cancel</butxton>
                        }
                    }
                    else
                    {
                        <form method="post" asp-page-handler="Invite" asp-route-memberId="@member.MemberId">
                            <button type="submit" class="btn btn-primary btn-sm">Invite</button>
                        </form>
                    }

                  @*   <form method="post" asp-page-handler="Invite" asp-route-memberId="@member.MemberId">
                        <button type="submit" class="btn btn-primary btn-sm">Invite</button>
                    </form>
                    <a asp-page="/Chat" asp-route-id="@member.MemberId">Chat</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>


<br/>

@section Scripts
{
    <script>
      
    </script>
}


